
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Study Skills | Introduction to Academic Assignments </title>
    <link rel="stylesheet" type="text/css" href="../css/min.css">
     <link rel="stylesheet" href="../css/navstyle.css">
       <link rel="stylesheet" href="../css/style.css">
       <link rel="stylesheet" href="../css/critique.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <meta charset="UTF-8">
    <meta name="description" content="Academic Assignments">
    <meta name="keywords" content="Team 3s, Study Skills, Academic Assignments, Essay, Drafting Essays,
                Constructing Essays, Sample Essays, Interactive Sample Essay, Reports, Report Formats,
                Reading and Writing about Data, Other Assignments, Critiques, Annotated bibliographies,
                Literature Reviews, Help with Assignments, Assignment Help">
		<meta name="author" content="Teams 3S, Sudarshan Kumar Bhattarai, Samundra Dhakal, Sarjeev Adhikari">
		<meta http-equiv="refresh" content="560">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

  <body>



      <div id='cssnav'>
        <ul>
          <a href="http://learnline.cdu.edu.au/studyskills/index.html"><img src="../images/logo.jpg" class="logo-image" alt="Charles Darwin University"></a>
         <li ><a href='https://www.cdu.edu.au/'>CDU Home</a></li>
         <li><a href='http://stapps.cdu.edu.au/f?p=100:30:7686819669726:'>Courses</a></li>
         <li><a href='https://www.cdu.edu.au/faculties-schools'>Faculties & Schools</a></li>

         <li><a href='https://www.cdu.edu.au/library/'>Library</a></li>

         <!--search-->
         <input type="text" id="search" name="search"  placeholder="SEARCH HERE" />

      </ul>
    </div>

  <div class="centered"> <strong>Academic Assignment </strong></div>
